*,
*::after,
*::before {
    box-sizing: border-box;
}

.container {
    background-color: #333;
    height: 30vh;
    display: flex;
    /* display: inline-flex; */
    flex-direction: row-reverse; /* row | row-reverse | column | column-reverse */
    flex-wrap: wrap-reverse; /* wrap | wrap-reverse */

    /* FLEX FLOW ( DIRECTION, WRAP ) ---> flex-direction + flex-wrap*/
    flex-flow: row nowrap;

    /* Define la alineación de los elementos hijos, respecto al eje principal */
    justify-content: flex-start; /* flex-start | center | flex-end | space-between | space-around | space-evently */
    
    /*  */
    flex-flow: row wrap;
    /* justify-content: center; */
    align-items: stretch; /* stretch | flex-start | flex-end | center | baseline */
    
    /* Define la alineación de los hijos en ele eje transversal (cros axit) 
     * NO funciona cuando los hijos están en una sola línea
     * Asemaja a un grupo
    */
    align-content: stretch;
}

.item {
    border: medium solid #999;
    background-color: #666;
}
